{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<br>
<div class="container">
    <div class="jumbotron">
        <div class="card card-body">

            <h1 style="text-align: center;">Lab Technician Registration</h1>

            <form method="POST">
                {% csrf_token %}

                <!-- USER DETAILS -->
                <h4>User Details</h4>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.username|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form.password1|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.password2|as_crispy_field }}
                    </div>
                </div>

                <hr>

                <!-- LAB TECH DETAILS -->
                <h4>Lab Technician Details</h4>

                <div class="row">
                    <div class="col-md-6">
                        {{ form.empId|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.years_of_exp|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form.qualification|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.address|as_crispy_field }}
                    </div>
                </div>

                <br>

                <input type="submit" value="REGISTER" class="btn btn-success btn-block">

            </form>

        </div>
    </div>
</div>

{% endblock %}